<nav class="flex justify-between p-8 fixed w-full bg-cc-black opacity-[0.98] backdrop:blur-xl backdrop:saturate-200">
  <a class="p-3 text-xl font-semibold" href="javascript;void">
    CelebConnect
  </a>
  <ul class="ml-auto flex text-lg font-medium">
    <li class="mx-3 py-3 px-6 rounded-md cursor-pointer hover:bg-cc-black-light">About us</li>
    <li class="mx-3 py-3 px-6 rounded-md cursor-pointer hover:bg-cc-black-light">Terms of service</li>
    <li class="mx-3 py-3 px-6 rounded-md cursor-pointer hover:bg-cc-black-light">How it works</li>
    <li>
      <button class="mx-3 py-3 px-9 rounded-md bg-cc-black-light hover:bg-cc-black-lighter">Creator login</button>
    </li>
  </ul>
</nav>
<main class="flex-grow">
  <section class="content-creator-section m-auto flex items-center justify-center w-2/3">
    <div class="">
      <h1 class="text-6xl font-bold mb-4">The perfect platform for content creators</h1>
      <p class="text-2xl mb-4">Create, monetize, and grow</p>
      <a href="#" class="inline-block py-3 px-9 rounded-md bg-cc-black-light hover:bg-cc-black-lighter">Create a
        ConnectLink</a>
    </div>
    <img src="../assets/content-creators.png" alt="Content Creators">
  </section>
  <section class="bg-cc-black-light py-20">
    <section class="m-auto w-2/3">
      <h1 class="text-5xl font-semibold mb-8">Why Choose Us?</h1>
      <ul class="grid grid-cols-1 lg:grid-cols-2 gap-12">
        <li class="flex items-center">
          <span class="material-symbols-outlined text-6xl">
            rocket_launch
          </span>
          <section class="ml-8">
            <p class="text-2xl font-medium">Seamless Experience:</p>
            <p class="text-lg">Get things done faster, effortlessly.</p>
          </section>
        </li>
        <li class="flex items-center">
          <span class="material-symbols-outlined text-6xl">
            monetization_on
          </span>
          <section class="ml-8">
            <p class="text-2xl font-medium">Unlock Your Earning Potential:</p>
            <p class="text-lg">Monetize your content with ease.</p>
          </section>
        </li>
        <li class="flex items-center">
          <span class="material-symbols-outlined text-6xl">
            box_edit
          </span>
          <section class="ml-8">
            <p class="text-2xl font-medium">Crafted Just for You:</p>
            <p class="text-lg">Stand out with a custom website that screams 'you'.</p>
          </section>
        </li>
        <li class="flex items-center">
          <span class="material-symbols-outlined text-6xl">
            rewarded_ads
          </span>
          <section class="ml-8">
            <p class="text-2xl font-medium">Instant Rewards:</p>
            <p class="text-lg">Enjoy instant rewards with every effort.</p>
          </section>
        </li>
      </ul>
      <button class="mt-8 py-3 px-9 rounded-md border border-white hover:bg-cc-black-lighter">Create a
        ConnectLink</button>
    </section>
  </section>
</main>
<footer>
  <nav class="flex justify-between p-8">
    <a class="p-3 text-xl font-semibold" href="javascript;void">
      CelebConnect
    </a>
    <ul class="ml-auto flex text-lg font-medium">
      <li class="mx-3 py-3 px-6 rounded-md cursor-pointer hover:bg-cc-black-light">About us</li>
      <li class="mx-3 py-3 px-6 rounded-md cursor-pointer hover:bg-cc-black-light">Terms of service</li>
      <li class="mx-3 py-3 px-6 rounded-md cursor-pointer hover:bg-cc-black-light">How it works</li>
      <li>
        <button class="mx-3 py-3 px-9 rounded-md bg-cc-black-light">Creator login</button>
      </li>
    </ul>
  </nav>
</footer>